<%= form_with url: flights_path, method: :get, local: true do |form| %>
    <%= form.label :departure_airport_id %>
    <%= form.collection_select :departure_airport_id, Airport.all, :id, :code %>
    <%= form.label :arrival_airport_id %>
    <%= form.collection_select :arrival_airport_id, Airport.all, :id, :code %>
    <%= form.label :number_of_passangers %>
    <%= form.select :number_of_passangers, 1..4 %>
    <%= form.label :start_datetime, "Date" %>
    <%= form.select :start_datetime, (Date.today.. 7.days.from_now).map { |date| date.strftime("%m/%d") } %>
    <%= form.submit %>
<% end %>

<div class="info">
    <div class="date">date: <%= params[:start_datetime] %></div>
    <div class="deperture_airport">Departure airport: <%= Airport.where("id == ?", params[:departure_airport_id]).pick(:code) %></div>
    <div class="arrival_airport">Arrival airport: <%= Airport.where("id == ?", params[:arrival_airport_id]).pick(:code) %></div>
    <div class="number_of_passangers">Number of passangers: <%= params[:number_of_passangers] %></div>
</div>

<% @possible_flights.each do |flight| %>
    <div class="flight">
        code: <%= flight.id %>
        from: <%= flight.departure_airport.code %>
        to: <%= flight.arrival_airport.code %>
        duration: <%= flight.duration %>
    </div>
<% end %>